/* header présentation / projets */
.navigation{
    position: fixed;
    top: 43%;
    left: 2%;
    z-index: 2;
}
.texte_navigation ul{
    display: block;
    list-style: none;
    padding-left: 0;
}
.texte_navigation li{
    padding: 1rem;
}
.texte_navigation a{
    text-decoration: none;
    color: #faecab;
    font-size: 17px;
    margin-right: 17px;
}
.texte_navigation a:hover{
    color: white;
    text-decoration: none;
}
#navbar{
    display: none;
}
/* mediaquerie */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 750px){
    .navigation{
        top: 0;
        left: 0;
    }
    .texte_navigation{
        display: none;
    }
    .menu{
        width: 10%;
    }
    #navbar{
        background-color: transparent !important;
        position: absolute;
        display: block;
        width: 100%;
        height: 6rem;
        list-style: none;
        top: 3%;
    }
    .dropdown{
        /* z-index: 2; */
        /* top: 25%; */
        /* left: 5%; */
    }
    .dropdown-menu{
        width: 100%;
        background: linear-gradient(30deg, rgba(77,105,140,1) 0%, rgba(237,183,70,1) 60%, rgb(199, 128, 62) 100%);
        border-radius: .5rem;
    }
    /* .dropdown-menu:hover{
        background-color: transparent;
    } */
    .dropdown-item{
        color: white;
    }
    .dropdown-item:hover{
    color : #ecb646;
    background-color: transparent;
    }
    .menu{
        width: 10%;
    }
    .nav-link {
        padding-top: 1rem;
        justify-content: center;
        display: block;
        padding: .5rem 1rem;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .contact{
        /* display: none; */
        padding: 1rem;
        display: flex;
        justify-content: end;
        position: absolute;
        width: 85%;
        right: 2%;
        top: 3%;
    }
    .contact img {
        width: 40px;
        height: 40px;
      }
}