/* header présentation / projets */
.navigation{
    position: fixed;
    top: 43%;
    left: 2%;
    z-index: 2;
}
/* .texte_navigation{
    background-color: #fe7661;
    border-radius: 0% 58%;
    padding: 2rem;
} */
.texte_navigation ul{
    display: block;
    list-style: none;
    padding-left: 0;
}
.texte_navigation li{
    padding: 1rem;
}
.texte_navigation a{
    text-decoration: none;
    color: #faecab;
    font-size: 17px;
    margin-right: 17px;
}
.texte_navigation a:hover{
    color: white;
    text-decoration: none;
}
#navbar{
    display: none;
}
/* mediaquerie */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 750px){
    .navigation{
        top: 0;
        left: 0;
    }
    .texte_navigation{
        display: none;
    }
    .menu{
        width: 10%;
    }
    #navbar{
        z-index: 2;
        /* background-color: transparent !important; */
        background-color: #dda042!important;
        /* position: absolute; */
        display: flex;
        width: 100%;
        height: 6rem;
        list-style: none;
        top: 1%;
    }
    .dropdown-menu{
        width: 100%;
        background-color: #dda042;
        border-radius: .5rem;
    }
    .dropdown-item{
        color: white;
        font-size: 2rem;
    }
    .dropdown-item:hover{
        color : black;
        background-color: transparent;
        cursor: pointer;
    }
    .menu{
        width: 10%;
    }
    .nav-link {
        /* position: relative; */
        padding-top: 1rem;
        justify-content: center;
        display: block;
        padding: .5rem 1rem;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .contact{
        top: 50px;
        padding: 1rem;
        /* display: flex; */
        justify-content: center;
        position: initial;
        /* position: absolute; */
        /* width: 85%; */
        /* right: 2%; */
        /* top: 3%; */
    }
    .contact img {
        width: 40px;
        height: 40px;
      }
}