/* VERSION DESKTOP */
/* main */
main{
    background: linear-gradient(30deg, rgba(77,105,140,1) 0%, rgba(237,183,70,1) 60%, rgb(199, 128, 62) 100%);
    overflow: hidden;
}
.texte-presentation{
    width: 43%;
    position: absolute;
    top: 34%;
    left: 31%;
    text-align: center;

}
.texte-presentation h2{
    color: #4d698c;
}
.texte-presentation p{
    color: white;
}
#page-presentation{
    height: 100vh;
}
#page-presentation img{
    width: 45%;
    height: 67vh;
    position: absolute;
    top: 16%;
    left: 30%;
}
.animation-presentation img{
    animation-duration: 1.5s;
    animation-name: slideinpresentation;
    animation-iteration-count: 1;
}
@keyframes slideinpresentation {
    from {
      margin-left: 100%;
      width: 45%;
    }
  
    to {
      margin-left: 0%;
      width: 45%;
    }
  }

/* mediaquerie */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 750px){
    main{
        background-color: #edeff0;
    }
    .contact{
        padding: 2rem;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        z-index: 2;
        top: 0;
        right: 0;
    }
    #page-presentation img{
        display: none;
    }
    .texte-presentation{
        padding: 3rem;
        width: 90%;
        position: absolute;
        top: 27%;
        left: 6%;
        animation-duration: 1.5s;
        animation-name: slideinpresentation;
        animation-iteration-count: 1;
    }
    @keyframes slideinpresentation {
        from {
          margin-left: 100%;
          width: 90%;
        }
      
        to {
          margin-left: 0%;
          width: 90%;
        }
      }
    #page-presentation {
        height: 96vh;
      }
}
