/* VERSION DESKTOP */
/* main */
.texte_navigation{
  background-color: #f5deb3;
  padding: 2rem;
  border-radius: 0% 60%;
}
main{
    background: #f5deb3;
    overflow: hidden;
}
.contact{
  background-color: #f5deb3;
  padding: 4rem;
  border-radius: 60% 0%;
}
.texte-presentation{
    width: 43%;
    position: absolute;
    top: 30%;
    left: 29%;
    text-align: center;
}
.texte-presentation p{
    color: black;
}
#page-presentation{
    height: 96vh;
}
.texte-presentation h2{
  color: #4d698c;
  padding: 2rem;
}
#page-presentation img{
    width: 100%;
}
.animation-presentation img{
    animation-duration: 1.5s;
    animation-name: slideinpresentation;
    animation-iteration-count: 1;
}
@keyframes slideinpresentation {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }

/* mediaquerie */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 750px){
    .contact{
        padding: 2rem;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        z-index: 2;
        top: 0;
        right: 0;
    }
    .texte-presentation{
        padding: 3rem;
        width: 90%;
        position: absolute;
        top: 25%;
        left: 6%;
        animation-duration: 1.5s;
        animation-name: slideinpresentation;
        animation-iteration-count: 1;
    }
    @keyframes slideinpresentation {
        from {
          margin-left: 100%;
        }
      
        to {
          margin-left: 0%;
        }
      }
    #page-presentation {
        /* height: 96vh; */
      }
      #page-presentation img{
        display: none;
      }
}
