/* desktop */
/* header */
.contact{  
    border-radius: 60% 0%;
    background-color: #f5deb3;
}
.navigation{
    position: fixed;
    top: 43%;
    left: 2%;
    z-index: 2;
}
.texte_navigation ul{
    display: block;
    list-style: none;
    padding-left: 0;
}
.texte_navigation li{
    padding: 1rem;
}
.texte_navigation a{
    text-decoration: none;
    color: #4d698c;
    font-size: 17px;
    margin-right: 17px;
}
.texte_navigation a:hover{
    color: black;
    text-decoration: none;
}
#navbar{
    display: none;
}
/* main */
main{
    background: #f5deb3;
    overflow: hidden;
}
/* animation écritures */
.container-texte{
    display: flex;
    width: 80%;
    overflow: hidden;
    position: absolute;
    transform: rotate(90deg);
    right: 36%;
}
.container-texte-bis{
    display: flex;
    width: 80%;
    overflow: hidden;
    position: absolute;
    transform: rotate(90deg);
    right: 23%;
}
.t1{
    white-space: nowrap;
    font-size: 250px;
    animation: scrollTxt 100s linear infinite;
    background:-webkit-linear-gradient(30deg, rgba(77,105,140,1) 0%, rgba(237,183,70,1) 60%, rgb(199, 128, 62) 100%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.t2{
    white-space: nowrap;
    font-size: 250px;
    animation: scrollTxtBis 100s linear infinite;
    color: rosybrown;
}
@keyframes scrollTxt {
    from{
        transform: translate(0,0)
    }
    to{
        transform: translate(-80%, 0);
    }
}
@keyframes scrollTxtBis {
    from{
        transform: translate(-80%,0)
    }
    to{
        transform: translate(0, 0);
    }
}
/* animation carousel projets */
.container-projets, .vslide{
    width: 100%;
    height: 100vh;
}
.container-projets{
    overflow: hidden;
    background-color: transparent
}
.vmove{
    position: relative;
    bottom: 0;
    animation: slidev linear 10s infinite;
}
.vmove:hover{
    animation-play-state: paused;
}
@keyframes slidev {
    0%{bottom: 0%}
    30%{bottom: 0%}
    33%{bottom: 100%}
    63%{bottom: 100%}
    66%{bottom: 200%}
    97%{bottom: 200%}
    100%{bottom: 0%}
}
.container-projets{
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    position: relative;
    left: 47%;
}
.container-projets div{
    position: relative;
    margin: 5px 20px;
    min-width: 228px;
    max-width: 650px;
    min-height: 249px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
    overflow: hidden;
    border-radius: 10rem 0rem 10rem 0rem;
    background-color: transparent;
}
.snip1482 {
    position: relative;
    margin: 10px 20px;
    min-width: 228px;
    max-width: 650px;
    min-height: 249px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
    overflow: hidden;
    border-radius: 10rem 0rem 10rem 0rem;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.snip1482 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1482 img {
  position: absolute;
  right: 0%;
  top: 50%;
  opacity: 1;
  width: 147%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  border-radius: 10rem 0rem 10rem 0rem;
}
.snip1482 figcaption {
  position: absolute;
  width: 50%;
  height: 35vh;
  top: 80%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.snip1482 h2,
.snip1482 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
  text-align: center;
}
.snip1482 h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #faecab;
}
.snip1482 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1482:hover img,
.snip1482.hover img {
  width: 55%;
  right: -10%;
}
.snip1482:hover figcaption h2,
.snip1482.hover figcaption h2,
.snip1482:hover figcaption p,
.snip1482.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

/* mediaquerie */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 750px){
    header{
        background-color:#edeff0;
    }
    /* header */
    .navigation{
        top: 0;
        left: 0;
    }
    .texte_navigation{
        display: none;
    }
    .menu{
        width: 10%;
    }
    #navbar{
        z-index: 2;
        background-color: #f5deb3!important;
        display: flex;
        width: 100%;
        height: 6rem;
        list-style: none;
        top: 1%;
    }
    .dropdown-menu{
        width: 100%;
        background-color: #f5deb3;
        border-radius: .5rem;
    }
    .dropdown-item{
        color: #4d698c;
        font-size: 2rem;
    }
    .dropdown-item:hover{
        color : black;
        background-color: transparent;
        cursor: pointer;
    }
    .menu{
        width: 10%;
    }
    .nav-link {
        padding-top: 1rem;
        justify-content: center;
        display: block;
        padding: .5rem 1rem;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .contact{
        top: 50px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        position: initial!important;
        background-color: #f5deb3;
    }
    .contact img {
        width: 40px;
        height: 40px;
      }
    /* main */
    .t1{
        font-size: 30px;
        animation: scrollTxt 40s linear infinite;
    }
    .t2{
        font-size: 30px;
        animation: scrollTxtBis 40s linear infinite;
    }
    .container-projets, vslide{
        width: 100%;
        height: auto;
    }
    .snip1482 {
        margin: 10px 0px;
        min-height: 136px;
    }
    .snip1482 p{
        display: none;
    }
    .snip1482 figcaption {
        width: 50%;
        height: 15vh;
        top: 74%;
        left: 5px;
      }
    .vmove{
        top: 10%;
    }
    .container-projets {
        justify-content: center;
        left: 0;
    }
    .container-projets div{
        width: 70%;
        top: 14%;
    }
    .animation-texte{
        display: none;
    }
    .container-texte {
        right: 51%;
        top: 33%;
        overflow: initial;
    }
    .container-texte-bis {
        right: 44%;
        top: 33%;
        overflow: initial;
      }
      .vmove{
        animation: paused;
    }
}
